.brandonrow {
	padding-top: 45px;
	width: 900px;
	margin: 0 auto 0 auto;
	height: 800px;
}

h1 {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 8px;
	font-weight: bold;
}

h1 .amp {
	font-size: 80px;
}

h2 {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 4px;
	font-weight: bold;
	margin-bottom: -25px;
}

.amp {
	font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua',
		serif;
	font-style: italic;
	font-weight: normal;
}

.innernav {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#fixednav li a {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 4px;
	font-weight: bold;
}

body {
	background: url(../images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Garamond', 'Georgia', serif;
}

#content {
	background: url(../images/stripes.png) no-repeat center center;
}

/*Page Elements*/
.sectionhead,.bodytext {
	position: relative;
}

/*Ceremony Page*/
#ceremony .sectionhead {
	color: #ece9e2;
	left: 320px;
	top: 50px;
	width: 450px;
}

#ceremony h2 {
	color: #202020;
}

#ceremony .bodytext {
	color: #ece9e2;
	width: 450px;
	left: 320px;
	top: 50px;
}

/*Reception Page*/
#reception .sectionhead {
	color: #aab180;
	left: 520px;
	top: 114px;
	width: 380px;
}

#reception h2 {
	color: #ece9e2;
}

#reception .bodytext {
	color: #202020;
	width: 370px;
	left: 520px;
	top: 114px;
}

/*Wedding Party Page*/
#weddingparty .sectionhead {
	color: #ece9e2;
	left: 320px;
	top: 50px;
	width: 450px;
}

#weddingparty h2 {
	color: #73207c;
}

#weddingparty .bodytext {
	color: #ece9e2;
	width: 450px;
	left: 320px;
	top: 50px;
}

/*Hotel Page*/
#hotel .sectionhead {
	color: #ece9e2;
	left: 0px;
	top: 85px;
	width: 450px;
}

#hotel h2 {
	color: #aab180;
}

#hotel .bodytext {
	color: #ece9e2;
	width: 450px;
	left: 0px;
	top: 85px;
}

/*Registry Page*/
#registry .sectionhead {
	color: #202020;
	left: 480px;
	top: 50px;
	width: 350px;
}

#registry h2 {
	color: #ece9e2;
}

#registry .bodytext {
	color: #202020;
	width: 400px;
	left: 480px;
	top: 50px;
}

.hidden {
	display: none;
	visibility: none;
}

#rsvpModal .modal-body {
	max-width: 400px;
	margin: auto;
}